@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
}
nav {
  padding: 17px 10px;
  width: 100%;
}
li {
  padding: 10px;
}
main {
  width: 100%;
}
.container {
  width: 100vw;
}